body {
        color:#1d1b1b;
    }
    .sidewidth {
        width:80%;
    }
   .halfwidth{
       width:45%;
       padding-left:10px;
       padding-top:20px;
       float: left;
   }
   .container{
       padding-top:2px;
       display:inline-block;
   }
    .color{
       color:#135FF6;
    }
    .link{
       text-decoration:none ;
    }
    .button{
       color:white;
       background-color:#8845f4;
       border-margin:13px 30px 13px 30px;
       padding:13px 30px 13px 30px ;
       border-radius:20px;
       text-decoration:none ;    
    }
    h1{
        text-align: center;
        font-size: 3em;
    }
    .color1{
        color: red;
    }
    .full{
        width:45%;
       padding-right:10px;
       padding-top:20px;
       float: right;
       } 
    h2{
       font-size: 2.5em;
    }
  h3{
      font-size: 2em;
    }
  
   